.mainbox {
    margin-top:220px;
    border:0px solid;
    border-radius: 40px;
    width:500px;
    height:500px;
    padding: 20px;
    background-color: #E6E6FA;
    opacity: 0.8;
    box-shadow: 2px 2px 12px #94a3a3;
}
h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300px;
    opacity: 0.75;
    filter: blur(0.5px);
}
#username {
    width:300px;
    height:30px;
    border-radius: 10px;
    background:transparent;
    background-color: #E0FFFF;
    border: 0px;
    padding: 10px;
    font-size: 14px;
    animation: 5s;
    
}
#email {
    width:300px;
    height:30px;
    border-radius: 10px;
    background: transparent;
    background-color: #E0FFFF;
    border:0px;
    padding: 10px;
    font-size: 14px;
    animation: 5s;
}
#pass {
    width:300px;
    height:30px;
    border-radius: 10px;
    background:transparent;
    background-color: #E0FFFF;
    border:0px;
    padding: 10px;
    font-size: 14px;
    animation: 5s;
}
#login {
    width:330px;
    height:48px;
    border-radius: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 50px;
    font-size:20px;
    border: 0px;
    background-color: #90EE90;
    color:whitesmoke;
    opacity: none;
    font-weight: 50px;
}

.rem {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 0.8;  
}
#forgot {
    padding:16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    display: block;
    color: #6A5ACD;
    font-size: 16px;
    position: relative;
}
body {
    background: linear-gradient(-45deg, #e03f0d, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
}
#login:hover {
    background-color: #90EE90;
    opacity: 0.6;
    color:rgb(3, 121, 3);
    font-weight:220px;
    font-size: 21px;
    box-shadow: 1px 1px 10px rgb(80, 218, 80);
}
#username:hover {
    border:#90EE90 solid 3px;
    font-size:16px;
    

}
#email:hover {
    border:#90EE90 solid 3px;
    font-size:16px;
}
#pass:hover {
    border:#90EE90 solid 3px;
    font-size:16px;
}
#forgot:hover {
    color:rgb(173, 14, 173);
   
}

#username:focus {
    border: solid 0px;
    border: solid #90EE90 4px;
    outline: none;
}
#email:focus {
    border: solid 0px;
    border: solid #90EE90  4px;
    outline: none;
}
#pass:focus {
    border: solid 0px;
    border: solid #90EE90  4px;
    outline: none;
}
#check {
    display:inline-block;
    margin-right: 6px;
}
.mainbox:hover {
    box-shadow: 15px 15px 100px #11dfdf;
}
@media (max-width: 600px) {
    .mainbox {
        width:auto;
        margin-top: 100px;
        
    }
    #username {
        width:350px;
        height:35px;
        font-size: 16px;
    }  
    #email {
        width:350px;
        height:35px;
        font-size: 16px;
    }  
    #pass {
        width:350px;
        height:35px;
        font-size: 16px;
    }
    #login {
        width:365px;
        height:54px;
    }
    h1 {
        font-size: 38px;
    }
    #forgot {
        font-size: 19px;
    }

}
@media (max-width: 400px ){
    #username, #email, #pass {
        width:280px;
        height:30px;
    }
    #login {
        width:300px;
    }
}


    